.money-wrapper {
  background-color: #fff;
  outline: 0.0625rem solid #94a3b8;
  border-radius: 0.5rem;

  width: 18.25rem;
  padding: 1rem;

  display: flex;
  align-items: center;

  position: relative;

  @media (max-width: 48rem) {
    width: 100%;
  }

  &:has(:focus) {
    outline: 0.1563rem solid #7c3aed;
  }

  &:hover {
    outline: 0.1563rem solid #7c3aed;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-top: 1rem;

  @media (max-width: 48rem) {
    flex-direction: column;
  }
}
